@model IEnumerable<Kermesse.Models.ListaPrecio>

@{
    ViewBag.Title = "Lista de precios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de precios</h2>

<p>
    
    <div class="mb-1">
        <button type="button" class="btn btn-primary">
            <i class="fa fa-plus icon" style="margin-right: .5rem;"></i> @Html.ActionLink("Crear nueva lista de precios", "Create", null, new { @class = "text-light" })
        </button>
    </div>
</p>

<div class="card">
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <tr class="bg-info">
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Kermesse1.nombre)
                </th>
                <th>
                    Acciones
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kermesse1.nombre)
                    </td>
                    <td>
                        <button class="btn btn-secondary">
                            @Html.ActionLink("Editar", "Edit", new { id = item.idListaPrecio }, new { @class = "text-light" })
                        </button>
                        |
                        <button class="btn btn-primary">
                            @Html.ActionLink("Ver", "Details", new { id = item.idListaPrecio }, new { @class = "text-light" })
                        </button>
                        |
                        <button class="btn btn-danger">
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.idListaPrecio }, new { @class = "text-light" })
                        </button>
                    </td>
                </tr>
            }

        </table>

    </div>
</div>