@model IEnumerable<Kermesse.Models.ListaPrecio>

@{
    ViewBag.Title = "Lista de precios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de precios</h1>


<div class="row mb-1">
    <div class="col-12 col-md-2 mb-1">
        <a class="btn btn-primary w-100" href="/ListaPrecios/Create">Crear</a>
    </div>
    <div class="col-12 col-md-2 mb-1">
        <div class="dropdown">
            <button class="btn btn-primary w-100"
                    type="button"
                    id="reportOptions"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                Reporte
            </button>
            <ul class="dropdown-menu" aria-labelledby="reportOptions">
                <li>
                    <a href="#">@Html.ActionLink("PDF", "verReporte", new { tipo = "PDF", busq = Request.Form["dato"] }, new { @class = "dropdown-item", target = "_blank" })</a>
                </li>
                <li>
                    <a href="#">@Html.ActionLink("Word", "verReporte", new { tipo = "WORD", busq = Request.Form["dato"] }, new { @class = "dropdown-item", target = "_blank" })</a>
                </li>
                <li>
                    <a href="#">@Html.ActionLink("Excel", "verReporte", new { tipo = "EXCEL", busq = Request.Form["dato"] }, new { @class = "dropdown-item", target = "_blank" })</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-12 col-md-8 col-lg-4 mb-1 ml-auto">
        @* BUSCAR *@
        @using (Html.BeginForm("Index", "ListaPrecios", FormMethod.Post, new { @class = "" }))
        {
            <div class="col-12 col-md-12 ">
                @Html.TextBox("dato", "", new { @class = "form-control rounded", placeholder = "Buscar" })
            </div>
        }
    </div>
</div>


<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead class="table-info">

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Kermesse1.nombre)
                </th>
                <th>
                    Opciones
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Kermesse1.nombre)
                </td>
                <td>
                    <a class="btn btn-secondary" href="@Url.Action("Edit", new { id = item.idListaPrecio })">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a class="btn btn-info" href="@Url.Action("Details", new { id = item.idListaPrecio })">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.idListaPrecio })">
                        <i class="fa fa-trash"></i>
                    </a>
                    <a class="btn btn-primary" href="@Url.Action("verReporteVertical", new { id = item.idListaPrecio })" target="_blank">
                        <i class="fa fa-file-pdf-o"></i>
                    </a>
                </td>
            </tr>
        }

    </table>

</div>
