@model Kermesse.Models.ArqueoCajaDet

@{
    ViewBag.Title = "Eliminar arqueo caja detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminando arqueo caja detalle</h2>

<h3>¿Estás seguro que quieres eliminar este arqueo caja detalle?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subtotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArqueoCaja1.idArqueoCaja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArqueoCaja1.idArqueoCaja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Denominacion1.valorLetras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Denominacion1.valorLetras)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Moneda1.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Moneda1.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Eliminar" class="btn btn-danger" /> |
    <button type="button" class="btn btn-primary">
        @Html.ActionLink("Regresar", "Index", null, new { @class = "text-light" })
    </button>
</div>
    }
</div>
