@model IEnumerable<Kermesse.Models.ArqueoCajaDet>

@{
    ViewBag.Title = "Arqueo caja detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Arqueo caja detalle</h1>

<div class="row mb-1">
    <div class="col-12 col-md-2 mb-1">
        <a class="btn btn-primary w-100" href="/ArqueoCajaDets/Create">Crear</a>
    </div>
    <div class="col-12 col-md-2 mb-1">
        <div class="dropdown">
            <button class="btn btn-primary w-100"
                    type="button"
                    id="reportOptions"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                Reporte
            </button>
            <ul class="dropdown-menu" aria-labelledby="reportOptions">
                <li>
                    <a class="dropdown-item"
                       href="/ArqueoCajaDets/verReporte?tipo=PDF"
                       target="_blank">PDF</a>
                </li>
                <li>
                    <a class="dropdown-item"
                       href="/ArqueoCajaDets/verReporte?tipo=Word">Word</a>
                </li>
                <li>
                    <a class="dropdown-item"
                       href="/ArqueoCajaDets/verReporte?tipo=Excel">Excel</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-12 col-md-8 col-lg-4 mb-1 ml-auto">
        @* BUSCAR *@
        @using (Html.BeginForm("Index", "ArqueoCajaDets", FormMethod.Post, new { @class = "" }))
        {
            <div class="col-12 col-md-12 ">
                @Html.TextBox("dato", "", new { @class = "form-control rounded", placeholder = "Buscar" })
            </div>
        }
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead class="table-info">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.cantidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.subtotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Denominacion1.valorLetras)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Moneda1.nombre)
                </th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.subtotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Denominacion1.valorLetras)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Moneda1.nombre)
                    </td>
                    <td>
                        <a class="btn btn-secondary" href="@Url.Action("Edit", new { id = item.idArqueoCajaDet })">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-info" href="@Url.Action("Details", new { id = item.idArqueoCajaDet })">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.idArqueoCajaDet })">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>