@model Kermesse.Models.IngresoComunidadDet

@{
    ViewBag.Title = "Eliminando detalle de ingreso de comunidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminando detalle de ingreso de comunidad</h1>

<h3>¿Estás seguro que quieres eliminar esto?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.denominacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.denominacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subTotalBono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subTotalBono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ControlBono.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControlBono.nombre)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-12 col-md-6 col-lg-3 col-xl-2">
            <input type="submit" value="Eliminar" class="btn btn-danger w-100" />
        </div>
        <div class="col-12 col-md-6 col-lg-3 col-xl-2">
            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary w-100" })
        </div>
    }
</div>
