@model Kermesse.Models.IngresoComunidadDet

@{
    ViewBag.Title = "Detalle de ingreso de comunidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle de ingreso de comunidad</h1>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.denominacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.denominacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subTotalBono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subTotalBono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ControlBono.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControlBono.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IngresoComunidad1.idIngresoComunidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngresoComunidad1.idIngresoComunidad)
        </dd>

    </dl>

    <div class="form-group">
        <div class="col-12 col-md-6 col-lg-3 col-xl-2">
            @Html.ActionLink("Editar", "Edit", new { id = Model.idIngresoComunidadDet }, new { @class = "btn btn-success w-100" })
        </div>
        <div class="col-12 col-md-6 col-lg-3 col-xl-2">
            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary w-100" })
        </div>
    </div>


</div>
