@model Kermesse.Models.TasaCambioDet

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear tasa de cambio</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Tasa de cambio detalle</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.tasaCambio, "Tasa cambio", htmlAttributes: new { @class = "control-label col-md-2 mb-2" })
            <div class="col-md-10">
                @Html.DropDownList("tasaCambio", null, htmlAttributes: new { @class = "form-control mb-2" })
                @Html.ValidationMessageFor(model => model.tasaCambio, "", new { @class = "text-danger mb-2" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "control-label col-md-2 mb-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control mb-2", type = "date" } })
                @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger mb-2" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tipoCambio, htmlAttributes: new { @class = "control-label col-md-2 mb-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tipoCambio, new { htmlAttributes = new { @class = "form-control mb-2", type = "number", step= "any" } })
                @Html.ValidationMessageFor(model => model.tipoCambio, "", new { @class = "text-danger mb-2" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2 mb-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control mb-2" } })
                @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger mb-2" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    <div style="margin-bottom: 1rem">
        <button type="button" class="btn btn-primary">
            @Html.ActionLink("Regresar", "Index", null, new { @style = "color: White;" })
        </button>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
