@model Kermesse.Models.TasaCambioDet

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro que quieres borrar esta categoría de gasto?</h3>
<div>
    <h4>Tasa cambio detalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoCambio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoCambio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TasaCambio1.mes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TasaCambio1.mes)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Eliminar" class="btn btn-danger" /> |
    <button type="button" class="btn btn-primary">
        @Html.ActionLink("Regresar", "Index", null, new { @style = "color: White;" })
    </button>
</div>
    }
</div>
