@{
    ViewBag.Title = "Página de inicio";
}

<div class="row">
    <div class="col-12 border border-primary rounded bg-blue mb-4 ml-1 mr-1">
        <h1 class="text-center">Kermesse App⛪</h1>
        
    </div>
    <div class="col-12 mb-3">
        <h3 class="text-left">Accesos directos</h3>
    </div>
</div>

<div class="row">
    @Html.Partial("_ShortcutCard", new ViewDataDictionary { { "modelName", "ArqueoCajas" }, { "simpleName", "Arqueo de caja*" } })
    @Html.Partial("_ShortcutCard", new ViewDataDictionary { { "modelName", "ArqueoCajaDets" }, { "simpleName", "Arqueo de caja detalle*" } })
    @Html.Partial("_ShortcutCard", new ViewDataDictionary { { "modelName", "CategoriaGastoes" }, { "simpleName", "Categorías de gastos" } })
    @Html.Partial("_ShortcutCard", new ViewDataDictionary { { "modelName", "CategoriaProductoes" }, { "simpleName", "Categorías de productos" } })
    @Html.Partial("_ShortcutCard", new ViewDataDictionary { { "modelName", "Comunidads" }, { "simpleName", "Comunidades*" } })
    @Html.Partial("_ShortcutCard", new ViewDataDictionary { { "modelName", "ControlBonoes" }, { "simpleName", "Bonos*" } })
    @Html.Partial("_ShortcutCard", new ViewDataDictionary { { "modelName", "Denominacions" }, { "simpleName", "Denominaciones*" } })
    @Html.Partial("_ShortcutCard", new ViewDataDictionary { { "modelName", "Gastoes" }, { "simpleName", "Gastos*" } })
    @Html.Partial("_ShortcutCard", new ViewDataDictionary { { "modelName", "IngresoComunidads" }, { "simpleName", "Ingreso de comunidad*" } })
    @Html.Partial("_ShortcutCard", new ViewDataDictionary { { "modelName", "IngresoComunidadDets" }, { "simpleName", "Ingreso de comunidad detalle*" } })
    @Html.Partial("_ShortcutCard", new ViewDataDictionary { { "modelName", "ListaPrecios" }, { "simpleName", "Lista de precios" } })
    @Html.Partial("_ShortcutCard", new ViewDataDictionary { { "modelName", "ListaPrecioDets" }, { "simpleName", "Lista de precios detalle*" } })
    @Html.Partial("_ShortcutCard", new ViewDataDictionary { { "modelName", "Monedas" }, { "simpleName", "Monedas" } })
    @Html.Partial("_ShortcutCard", new ViewDataDictionary { { "modelName", "Opcions" }, { "simpleName", "Opciones" } })
    @Html.Partial("_ShortcutCard", new ViewDataDictionary { { "modelName", "Parroquias" }, { "simpleName", "Parroquias" } })
    @Html.Partial("_ShortcutCard", new ViewDataDictionary { { "modelName", "Productoes" }, { "simpleName", "Productos*" } })
    @Html.Partial("_ShortcutCard", new ViewDataDictionary { { "modelName", "RolOpcions" }, { "simpleName", "Rol Opciones*" } })
    @Html.Partial("_ShortcutCard", new ViewDataDictionary { { "modelName", "Rols" }, { "simpleName", "Roles*" } })
    @Html.Partial("_ShortcutCard", new ViewDataDictionary { { "modelName", "RolUsuarios" }, { "simpleName", "Rol Usuarios*" } })
    @Html.Partial("_ShortcutCard", new ViewDataDictionary { { "modelName", "TasaCambios" }, { "simpleName", "Tasa de cambio*" } })
    @Html.Partial("_ShortcutCard", new ViewDataDictionary { { "modelName", "TasaCambioDets" }, { "simpleName", "Tasa de cambio detalle" } })
    @Html.Partial("_ShortcutCard", new ViewDataDictionary { { "modelName", "Usuarios" }, { "simpleName", "Usuarios" } })
</div>
