<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kermesse</title>

    <!-- Bootstrap -->
    <link href="~/Vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- FontAwesome -->
    <link href="~/Vendors/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- IconsCout -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- NProgress -->
    <link href="~/Vendors/nprogress/nprogress.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/Content/AlelaTemplate/css/custom.min.css" rel="stylesheet" />
    <!-- Bootstrap progress bar -->
    <link href="~/Vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
    <!-- JQVMap -->
    <link href="~/Vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- DateRangePicker -->
    <link href="~/Vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <!-- Project CSS -->
    <link href="~/Content/AlelaTemplate/css/own.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <!-- left menu -->
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/" class="site_title"><span class="">⛪</span> <span>Kermesse App</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_info w-100">
                            @if (Session["Name"] != null)
                            {
                                <p class="text-light">Bienvenido, @Session["Name"].ToString()</p>
                            }
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Menús</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-cash-register"></i> Control de caja<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Arqueo de caja", "Index", "ArqueoCajas")</li>
                                        <li>@Html.ActionLink("Arqueo de caja detalle", "Index", "ArqueoCajaDets")</li>
                                        <li>@Html.ActionLink("Denominación", "Index", "Denominacions")</li>
                                        <li>@Html.ActionLink("Moneda", "Index", "Monedas")</li>
                                        <li>@Html.ActionLink("Tasa de cambio", "Index", "TasaCambios")</li>
                                        <li>@Html.ActionLink("Tasa de cambio detalle", "Index", "TasaCambioDets")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-dollar"></i> Control de gastos<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Gasto", "Index", "Gastoes")</li>
                                        <li>@Html.ActionLink("Categorías de gastos", "Index", "CategoriaGastoes")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-users"></i> Ingresos comunidad<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Bonos", "Index", "ControlBonoes")</li>
                                        <li>@Html.ActionLink("Comunidades", "Index", "Comunidads")</li>
                                        <li>@Html.ActionLink("Ingreso comunidad", "Index", "IngresoComunidads")</li>
                                        <li>@Html.ActionLink("Ingreso comunidad detalle", "Index", "IngresoComunidadDets")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-tag"></i> Lista de precios<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Lista de precios", "Index", "ListaPrecios")</li>
                                        <li>@Html.ActionLink("Lista de precios detalle", "Index", "ListaPrecioDets")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-store"></i> Kermesse<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Kermesse", "Index", "Kermesses")</li>
                                        <li>@Html.ActionLink("Parroquias", "Index", "Parroquias")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-shopping-basket"></i> Productos<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Categorías de productos", "Index", "CategoriaProductoes")</li>
                                        <li>@Html.ActionLink("Productos", "Index", "Productoes")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-shield"></i> Seguridad<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Opciones", "Index", "Opcions")</li>
                                        <li>@Html.ActionLink("Roles", "Index", "Rols")</li>
                                        <li>@Html.ActionLink("Rol opciones", "Index", "RolOpcions")</li>
                                        <li>@Html.ActionLink("Rol usuarios", "Index", "RolUsuarios")</li>
                                        <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- /left menu -->
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    @if (Session["Name"] != null)
                                    {
                                        <span>@Session["Name"].ToString() @Session["Lastname"].ToString()</span>
                                    }
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/Account/Logout"><i class="fa fa-sign-out pull-right"></i>Cerra sesión</a>
                                </div>
                            </li>

                            <li role="presentation" class="nav-item dropdown open">
                                <ul class="dropdown-menu list-unstyled msg_list" role="men" aria-labelledby="navbarDropdown1">
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="~/Content/Images/strategy.png" alt="Profile Image" /></span>
                                            <span>
                                                <span>Cepillin</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="~/Content/Images/strategy.png" alt="Profile Image" /></span>
                                            <span>
                                                <span>Cepillin</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="~/Content/Images/strategy.png" alt="Profile Image" /></span>
                                            <span>
                                                <span>Cepillin</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="~/Content/Images/strategy.png" alt="Profile Image" /></span>
                                            <span>
                                                <span>Cepillin</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <div class="text-center">
                                            <a class="dropdown-item">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="text-center">
                    Kermesse App⛪ - Hecho en Nicaragua 🇳🇮
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/Vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/Vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Vendors/nprogress/nprogress.js"></script>
    <script src="~/Vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/Vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/Vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/Vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="~/Vendors/moment/min/moment.min.js"></script>
    <script src="~/Vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <script src="~/Content/AlelaTemplate/js/own.js"></script>
    <script src="~/Content/AlelaTemplate/js/custom.js"></script>
    <script src="https://kit.fontawesome.com/78f46d0997.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
