@model Kermesse.Models.Usuario

@{
    ViewBag.Title = "Inicia sesión";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kermesse</title>

    <!-- Bootstrap -->
    <link href="~/Vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- FontAwesome -->
    <link href="~/Vendors/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/Vendors/nprogress/nprogress.css" rel="stylesheet" />
    <!-- Bootstrap progress bar -->
    <link href="~/Vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
    <!-- JQVMap -->
    <link href="~/Vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- DateRangePicker -->
    <link href="~/Vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <!-- Project CSS -->
    <link href="~/Content/AlelaTemplate/css/own.css" rel="stylesheet" />
</head>
<body class="nav-md">
    <div class="container">
        <div class="main_container">
            <h1 class="text-center mt-5">Kermesse App ⛪</h1>
            <div class="col-12 col-md-6 col-lg-5 mx-auto mt-5">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Ingresar</h3>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.userName, "Usuario o correo", htmlAttributes: new { @class = "form-label" })
                                <div class="">
                                    @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe tu usuario o tu correo" } })
                                    @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.pwd, htmlAttributes: new { @class = "form-label" })
                                <div class="">
                                    @Html.EditorFor(model => model.pwd, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe tu contraseña" } })
                                    @Html.ValidationMessageFor(model => model.pwd, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Ingresar" class="btn btn-primary col-12 col-md-6 col-lg-4" />
                            </div>

                        }
                        <p hidden class="card-text text-secondary">¿No estás registrado? <a class="card-link" href="/Account/Register">Regístrate aquí</a></p>
                    </div>
                </div>
            </div>
            


            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }

        </div>
    </div>
    <!-- Scripts -->
    <script src="~/Vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/Vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Vendors/nprogress/nprogress.js"></script>
    <script src="~/Vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/Vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/Vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/Vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="~/Vendors/moment/min/moment.min.js"></script>
    <script src="~/Vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <script src="~/Content/AlelaTemplate/js/own.js"></script>
    <script src="~/Content/AlelaTemplate/js/custom.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    
</body>
</html>

