@model Kermesse.Models.CategoriaProducto

@{
    ViewBag.Title = "Eliminar categoría de producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro que quieres eliminar esta categoría de producto?</h3>
<div>
    <h4>Categoría de producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <button type="button" class="btn btn-primary">
                @Html.ActionLink("Regresar", "Index", null, new { @class = "text-light" })
            </button>
        </div>
    }
</div>
