@model Kermesse.Models.CategoriaProducto

@{
    ViewBag.Title = "Categoría de productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Categoría de productos</h1>

    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.descripcion)
            </dd>
        </dl>

        <div class="form-group">
            <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                @Html.ActionLink("Editar", "Edit", new { id = Model.idCatProd }, new { @class = "btn btn-success w-100" })
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary w-100" })
            </div>
        </div>
    </div>

