@model Kermesse.Models.CategoriaGasto

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Categoria de gastos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-secondary">
        @Html.ActionLink("Editar", "Edit", new { id = Model.idCatGasto }, new { @class = "text-light" })
    </button>
    |
    <button type="button" class="btn btn-primary">
            @Html.ActionLink("Regresar", "Index", null, new { @style = "color: White;" })
    </button>
</p>
