@model IEnumerable<Kermesse.Models.CategoriaGasto>

@{
    ViewBag.Title = "Categoría de gastos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categoría de gastos</h2>


<div class="mb-1">
    <button type="button" class="btn btn-primary">
        <i class="fa fa-plus icon" style="margin-right: .5rem;"></i> @Html.ActionLink("Añadir categoría de gastos", "Create", null, new { @class = "text-light" })
    </button>
    <button type="button" class="btn btn-secondary">
        <i class="fa fa-print icon" style="margin-right: .5rem;"></i> @Html.ActionLink("Exportar a PDF", "verReporte", new { tipo = "PDF" }, new { @class = "text-light", target = "_blank" })
    </button>



    @using (Html.BeginForm("Index", "CategoriaGastoes", FormMethod.Post, new { @style = "width: 50%; float: right" }))
    {
        <div class="form-group">
            @Html.TextBox("dato", "", new { @class = "form-control col-md-8", style = "margin-left: 2rem;" })
            <button type="submit" class="btn btn-success col-md-3" style=" float: right">
                <i class="fa fa-search icon" style="margin-right: .5rem;"></i>Buscar
            </button>

        </div>
        }
</div>

<div class="card">
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <tr class="bg-info">
                <th>
                    @Html.DisplayNameFor(model => model.nombreCategoria) 
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.descripcion)
                </th>
                <th>
                    Acciones 
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombreCategoria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td>
                       <button class="btn btn-secondary">
                            @Html.ActionLink("Editar", "Edit", new { id = item.idCatGasto }, new { @class = "text-light" })
                        </button>
                        |
                        <button class="btn btn-primary">
                            @Html.ActionLink("Ver", "Details", new { id = item.idCatGasto },  new { @class = "text-light" } )
                        </button>
                        |
                        <button class="btn btn-danger">
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.idCatGasto }, new { @class = "text-light" })
                        </button>
                    </td>
                </tr>
            }

        </table>

    </div>
</div>