@model Kermesse.Models.Denominacion

@{
    ViewBag.Title = "Detalles denominación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles denominación</h1>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valorLetras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valorLetras)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Moneda1.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Moneda1.nombre)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-secondary">
        @Html.ActionLink("Editar", "Edit", new { id = Model.idDenominacion }, new { @class = "text-light" })
    </button>|
    <button type="button" class="btn btn-primary">
        @Html.ActionLink("Regresar", "Index", null, new { @class = "text-light" })
    </button>
</p>
