@model Kermesse.Models.Usuario

@{
    ViewBag.Title = "Editando usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editando usuario</h1>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger mb-2" })
        @Html.HiddenFor(model => model.idUsuario)

        <div class="form-group">
            @Html.LabelFor(model => model.userName, htmlAttributes: new { @class = "control-label col-md-2 mb-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control mb-2" } })
                @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger mb-2" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pwd, htmlAttributes: new { @class = "control-label col-md-2 mb-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pwd, new { htmlAttributes = new { @class = "form-control mb-2" } })
                @Html.ValidationMessageFor(model => model.pwd, "", new { @class = "text-danger mb-2" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombres, htmlAttributes: new { @class = "control-label col-md-2 mb-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombres, new { htmlAttributes = new { @class = "form-control mb-2" } })
                @Html.ValidationMessageFor(model => model.nombres, "", new { @class = "text-danger mb-2" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.apellidos, htmlAttributes: new { @class = "control-label col-md-2 mb-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.apellidos, new { htmlAttributes = new { @class = "form-control mb-2" } })
                @Html.ValidationMessageFor(model => model.apellidos, "", new { @class = "text-danger mb-2" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2 mb-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control mb-2" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger mb-2" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                <input type="submit" value="Guardar" class="btn btn-success w-100" />
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                <a href="../Index" class="btn btn-primary w-100">Regresar</a>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
