@model IEnumerable<Kermesse.Models.Usuario>

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuarios</h2>

<p>
    
    <button type="button" class="btn btn-primary">
        <i class="fa fa-plus icon" style="margin-right: .5rem;"></i> @Html.ActionLink("Añadir usuario", "Create", null, new { @class = "text-light" })
    </button>
</p>

<div class="card">
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <tr class="bg-info">
                <th>
                    @Html.DisplayNameFor(model => model.userName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombres)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.apellidos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.estado)
                </th>
                <th>
                    Acciones
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.userName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.apellidos)
                    </td>
                    <td>
                        <a href="mailto:@Html.DisplayFor(modelItem => item.email)" >@Html.DisplayFor(modelItem => item.email)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.estado)
                    </td>
                    <td>
                        <button class="btn btn-secondary">
                            @Html.ActionLink("Editar", "Edit", new { id = item.idUsuario }, new { @class = "text-light" })
                        </button>
                        |
                        <button class="btn btn-primary">
                            @Html.ActionLink("Ver", "Details", new { id = item.idUsuario }, new { @class = "text-light" })
                        </button>
                        |
                        <button class="btn btn-danger">
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.idUsuario }, new { @class = "text-light" })
                        </button>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>