@model Kermesse.Models.Comunidad

@{
    ViewBag.Title = "Eliminar comunidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminando comunidad</h1>

<h2>¿Estás seguro que quieres eliminar esta comunidad?</h2>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.responsble)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.responsble)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descContribucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descContribucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
           <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <button type="button" class="btn btn-primary">
                @Html.ActionLink("Regresar", "Index", null, new { @class = "text-light" })
            </button>
        </div>
    }
</div>
