@model Kermesse.Models.Moneda

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h4>Eliminar moneda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre):
            @Html.DisplayFor(model => model.nombre)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.simbolo):
            @Html.DisplayFor(model => model.simbolo)
        </dt>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

     <div class="form-actions no-color">
        <button type="submit" value="Delete" class="btn btn-danger">
            <i class="fa fa-trash icon" style="margin-right: .5rem;"></i>
            Eliminar
        </button>
        <div class="btn btn-info">
            <i class="fa fa-arrow-left icon" style="margin-right: .5rem;"></i> @Html.ActionLink("Regresar", "Index", null, new { @style = "color: white;" })
        </div>
     </div>

     }

</div>
