@model IEnumerable<Kermesse.Models.Moneda>

@{
    ViewBag.Title = "Moneda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Moneda</h1>

<div style="margin-bottom: 1rem">
    <button type="button" class="btn btn-primary">
        <i class="fa fa-plus icon" style="margin-right: .5rem;"></i> @Html.ActionLink("Añadir moneda", "Create", null, new { @style ="color: White;"})
    </button>
    <button type="button" class="btn btn-secondary">
        <i class="fa fa-print icon" style="margin-right: .5rem;"></i> @Html.ActionLink("Exportar a PDF", "verReporte", new { tipo = "PDF" }, new { @style ="color: White;"})
    </button>
</div>

<div class="card">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <tr class="bg-info">
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.simbolo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.estado)
                </th>
                <th>
                    Opciones
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.simbolo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.estado)
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary">
                            @Html.ActionLink("Editar", "Edit", new { id = item.idMoneda }, new { @style = "color: white" }) 
                        </button>
                        <button type="button" class="btn btn-info">
                            @Html.ActionLink("Ver", "Details", new { id = item.idMoneda }, new { @style = "color: white" }) 
                        </button>
                        <button type="button" class="btn btn-danger">
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.idMoneda }, new { @style = "color: white" })
                        </button>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

