@model Kermesse.Models.TasaCambio

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>TasaCambio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.anio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Moneda.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Moneda.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Moneda1.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Moneda1.nombre)
        </dd>

    </dl>
</div>
<p>
    <div style="margin-bottom: 1rem">
        <button type="button" class="btn btn-secondary">
            <i class="fa fa-pencil icon" style="margin-right: .5rem;"></i> @Html.ActionLink("Editar", "Edit", new { id = Model.idTasaCambio }, new { @style = "color: white;" })
        </button>
        <div class="btn btn-info">
            <i class="fa fa-arrow-left icon" style="margin-right: .5rem;"></i> @Html.ActionLink("Regresar", "Index", null, new { @style = "color: white;" })
        </div>
    </div>
</p>
