@model Kermesse.Models.Opcion

@{
    ViewBag.Title = "Eliminando opción";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminando opción</h2>

<h3>¿Estás seguro que quieres eliminar esta opción?</h3>
<div>
    <h4>Opcion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.opcionDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opcionDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
    <input type="submit" value="Eliminar" class="btn btn-danger" /> |
    <button type="button" class="btn btn-primary">
        @Html.ActionLink("Regresar", "Index", null, new { @class = "text-light" })
    </button>
    </div>
    }
</div>
