@model Kermesse.Models.Opcion

@{
    ViewBag.Title = "Mostrando opción";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mostrando opción</h2>

<div>
    <h4>Opción</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.opcionDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opcionDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-secondary">
        @Html.ActionLink("Editar", "Edit", new { id = Model.idOpcion }, new { @class = "text-light" })
    </button>|
    <button type="button" class="btn btn-primary">
        @Html.ActionLink("Regresar", "Index", null, new { @class = "text-light" })
    </button>
</p>
